html {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  background-color :#151313;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section__title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
}

.section__lead {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #A07B50;
}


.pets {
  background-color: #1f1c1d;
}

.breed-features {
  background-color: #1f1c1d;
}

.faq {
  background-color: #1f1c1d;
}

.reviews {
  background-color: #1f1c1d;
}